<!-- profile-about start -->
<section class="py-xl-9 py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-md-12">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-12">
                        <div class="text-lg-center mb-5">
                            <small class="text-uppercase ls-md fw-semibold text-body-tertiary">ABOUT ME</small>
                            <h2 class="mt-3">
                                You can call me 
                                <span class="text-primary">Eddie</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                        <div class="text-lg-center">
                            <p class="mb-4 mb-md-0S">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra vel turpis nunc eget lorem. Faucibus ornare suspendisse sed nisi lacus sed. Donec et odio pellentesque diam volutpat commodo.
                            </p>
                            <p class="mb-4 mb-md-0S">At elementum eu facilisis sed odio morbi quis commodo. Netus et malesuada fames ac turpis egestas maecenas. Orci dapibus ultrices in iaculis nunc sed augue. Semper eget duis at tellus at. Faucibus et molestie ac feugiat sed lectus.</p>
                            <p class="mb-0">Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Lectus sit amet est placerat in egestas erat.</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- profile-about end -->