<footer>
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-9">
                <div class="small mb-3 mb-lg-0">
                    Copyright © {{ currentYear }}
                    <span class="text-primary">ggordonvi.com</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="text-md-end d-flex align-items-center justify-content-md-end">
                    <div class="d-flex gap-2">
                        <a href="https://github.com/ggordonvi" target="_blank" class="text-reset btn btn-github btn-icon">
                            <i class='bx bxl-github' ></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ggordon-vi/" target="_blank" class="text-reset btn btn-linkedin btn-icon">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>                                              