<main>

    <section class="pt-3 pb-5 pb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-medium">
                            <li class="breadcrumb-item"><a routerLink="/profile" class="text-reset">Profile</a></li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Skills</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <h1 class="mb-3">Technical Expertise</h1>
                    <p class="mb-0 lead">Explore my {{ skills.length }} documented technical skills listed below. Each skill is accompanied by its proficiency level and a general category. You can narrow down your search using the name or category filters if you're looking for anything specific.</p>    
                </div>
            </div>
        </div>
    </section>

    <section class="pb-5 pb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="mb-3">
                                <label class="form-label" for="Skill Name Search">Name Search</label>
                                <input class="form-control" type="search" id="search-input" [(ngModel)]="searchValue" (input)="onSearchChange()">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <label class="form-label" for="textInput">Category Search</label>
                            <select class="form-select" aria-label="Skill Category Selection" [(ngModel)]="selectedCategory" (change)="onSelectCategory()">
                                <option selected>All</option>
                                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table skill-table">
                            <thead>
                                <tr>
                                <th class="form-label" scope="col">Name</th>
                                <th class="form-label" scope="col">Proficiency</th>
                                <th class="form- hide-mobile" scope="col">Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let skill of filteredSkills">
                                    <tr>
                                        <td>
                                            <h4>{{ skill.name }}</h4>
                                        </td>
                                        <td>
                                            <div class="proficiency">
                                                <span *ngFor="let filled of getProficiencyLevels(skill.proficiency)" class="circle" [class.filled]="filled"></span>
                                            </div>
                                        </td>
                                        <td class="hide-mobile">{{ skill.type }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>