<div class="container py-4">

    <div class="p-5 mb-5 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">George Gordon</h1>
            <h4 class="fw-bold">Full Stack Developer</h4>
            <p class="col-md-12 fs-5">Solving complex business problems with creative problem solving.</p>
        </div>
    </div>

    <div class="row align-items-md-stretch mb-5">
        <div class="col-sm-12 col-md-12">
            <div class="h-100 text-bg-dark rounded-3">
                <h2 class="mb-4 pb-4 mx-5 border-bottom">Projects</h2>
                
                    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
                      <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                              <li class="me-auto">
                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                              </li>
                              <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Earth</small>
                              </li>
                              <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                <small>3d</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                
                      <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
                          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                              <li class="me-auto">
                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                              </li>
                              <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>Pakistan</small>
                              </li>
                              <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                <small>4d</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                
                      <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                            <ul class="d-flex list-unstyled mt-auto">
                              <li class="me-auto">
                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                              </li>
                              <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                                <small>California</small>
                              </li>
                              <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                                <small>5d</small>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-outline-light m-2 float-end" type="button" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">View Projects</button>
                    
            </div>
        </div>
    </div>


    <div class="row align-items-md-stretch mb-5">
        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2 class="mb-4 pb-4 border-bottom">Work Experience</h2>
                <app-jobs></app-jobs>

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="h-100 p-5 bg-body-tertiary rounded-3">
                <h2 class="mb-4 pb-4 border-bottom">Skills</h2>
                <app-skills></app-skills>
            </div>
        </div>
    </div>

    <!-- <div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h2 class="mb-4 pb-4 border-bottom">Education</h2>
            <p class="fs-5">University of South Carolina</p>
            <p class="mb-2">Bachelor of Computer Information Systems</p>
            <p>Minor in Business Information Management</p>
        </div>
    </div> -->

    <div class="row align-items-md-stretch mb-5">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="h-100 p-5 bg-body-tertiary rounded-3">
                <h2 class="mb-4 pb-4 border-bottom">Education</h2>
                <h4>University of South Carolina</h4>
                <p class="mb-2">Bachelor of Computer Information Systems</p>
                <p>Minor in Business Information Management</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2 class="mb-4 pb-4 border-bottom">Contact Me</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                <button class="btn btn-outline-light m-2" type="button">Resume</button>
                <button class="btn btn-outline-light m-2" type="button">Email</button>
            </div>
        </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        &copy; 2024
    </footer>
</div>