<div class="row">
    <div class="tile-op">
        <h1 class="tile-title-op">HELLO!</h1>
        <div class="tile-body">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <h1>George Gordon</h1>
                <h5>Software Engineer at Capgemini</h5>
                <p class="mb-0">ggordonvi@gmail.com</p>
                <p class="">(310)-490-4657</p>
                <p>"Solving complex business problems with creative problem solving."</p>
            </div>
        </div>
    </div>
</div>
