<div class="container-fluid" style="position: absolute; z-index: 1000;">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8" style="padding-top:10px">
            <div *ngFor='let alert of alertService.alerts'>
                <div *ngIf="alert.type == 'INFO'" class="alert alert-primary alert-dismissible fade show" style="margin-bottom: 10px;" role="alert">
                    {{ alert.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div *ngIf="alert.type == 'ERROR'" class="alert alert-danger alert-dismissible fade show" style="margin-bottom: 10px;" role="alert">
                    {{ alert.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div *ngIf="alert.type == 'WARN'" class="alert alert-warning alert-dismissible fade show" style="margin-bottom: 10px;" role="alert">
                    {{ alert.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>