<main>

    <section class="pt-3 pb-5 pb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-medium">
                            <li class="breadcrumb-item"><a routerLink="/profile" class="text-reset">Profile</a></li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Projects</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <h1 class="mb-3">Projects</h1>
                    <p class="mb-0 lead">Dive into my coding playground, where I showcase my projects, share stories, and explore the fascinating world of coding. From project showcases to coding adventures, this space is where creativity meets technology.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-xl-9">
        <div class="container">
            <div class="row gy-lg-7 gy-5">
                <ng-container *ngFor="let project of projects">
                    <article class="col-lg-4 col-md-6 col-12">
                        <figure class="mb-4 zoom-img">
                            <a [routerLink]="['/profile/projects', project.uid]">
                                <img [src]="project.image" alt="blog" class="img-fluid rounded-3" loading="lazy" />
                            </a>
                        </figure>
                        <div class="mx-3">
                            <ng-container *ngIf="project.category === 'Notes'">
                                <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill text-uppercase">
                                    {{ project.category }}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="project.category !== 'Notes'">
                                <span class="badge bg-success-subtle text-success-emphasis rounded-pill text-uppercase">
                                    {{ project.category }}
                                </span>
                            </ng-container>
                            <h3 class="my-3 lh-base h4">
                                <a [routerLink]="['/profile/projects', project.uid]" class="text-reset">{{ project.title }}</a>
                            </h3>
                            <div class="d-flex align-items-center justify-content-between mb-3 mb-md-0">
                                <div class="d-flex align-items-center">
                                    <img [src]="project.author.image" alt="Avatar" class="avatar avatar-xs rounded-circle" />
                                    <div class="ms-2">
                                        <a href="#" class="text-reset fs-6">{{ project.author.name }}</a>
                                    </div>
                                </div>
                                <div class="ms-3"><span class="fs-6">{{ project.dateCreated | date:'longDate' }}</span></div>
                            </div>
                        </div>
                    </article>
                </ng-container>
            </div>
        </div>
    </section>

</main>