<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 250px; height: -webkit-fill-available;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">ggordonvi.com</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
                Profile
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">
                Projects
            </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                Contact
            </a>
        </li>
    </ul>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
        <ul class="list-unstyled d-flex">
            <li class="ms-4">
                <a class="link-body-emphasis" href="#">
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
            </li>
            <li class="ms-4">
                <a class="link-body-emphasis" href="#">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </a>
            </li>
        </ul>
    </div>
</div>