<!-- <div class="row">
    <p style="font-size: 100px">SKILLS</p>
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="skill-tile shadow">
                    <h5>Languages & Frameworks</h5>
                    <ul>
                        <li>HTML</li>
                        <li>CSS / SCSS / SASS</li>
                        <li>JavaScript / TypeScript</li>
                        <li>Java, Spring, SpringBoot</li>
                        <li>AngularJS, Angular2+</li>
                        <li>Node.js</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="skill-tile shadow">
                    <h5>Cloud & Tools</h5>
                    <ul>
                        <li>Amazon Web Services (AWS) - Elastic Beanstalk, EC2, S3, RDS, SES, Route53, Amplify</li>
                        <li>Jenkins</li>
                        <li>JIRA / Confluence</li>
                        <li>Git / GitLab / GitHub</li>
                        <li>IntellJ / Eclipse / VSCode</li>
                        <li>SoapUI / Postman</li>
                        <li>AppDynamics / Grafana / Splunk</li>
                        <li>JUnit / Selenium</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-sm-12">
        <h5>Languages & Frameworks</h5>
        <ul>
            <li>HTML</li>
            <li>CSS / SCSS / SASS</li>
            <li>JavaScript / TypeScript</li>
            <li>Java, Spring, SpringBoot</li>
            <li>AngularJS, Angular2+</li>
            <li>Node.js</li>
            <li>SQL</li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h5>Cloud & Tools</h5>
        <ul>
            <li>Amazon Web Services (AWS) - Elastic Beanstalk, EC2, S3, RDS, SES, Route53, Amplify</li>
            <li>Jenkins</li>
            <li>JIRA / Confluence</li>
            <li>Git / GitLab / GitHub</li>
            <li>IntellJ / Eclipse / VSCode</li>
            <li>SoapUI / Postman</li>
            <li>AppDynamics / Grafana / Splunk</li>
            <li>JUnit / Selenium</li>
        </ul>
    </div>
</div>